<div>
   <div suaveField="title">The title of a Sail component.</div>
   <div suaveField="content">
      You can reference this field by your_sail_controller.view.dom.content
      to set its innerHTML.
   </div>
</div>
